* {
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/* .modern-wrapper {
    height: auto;
    display: block;
    position: relative;
    width: 400px;
    background-color: red;
    overflow: hidden;
}

.modern-cover {
    display: block;
    width: auto;
    height: 100%;
    overflow: hidden;
}

.hidden {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    opacity: 1;
} */